// Color codes

$dark-gray: #171a25;
$hover-blue: #292f48;
$hover-border-blue: #76a0f0;
$normal-gray: #484848;
$dark-blue: #103b8e;
$light-gray: #f8f8fa;
$all-white: #ffffff;
$border-black: #48484800;
$border-gray: #bbbcc2;
$icon-gray: #a3a4ab;
$background-gray: #d3d4d9;
$card-gray: #ebebeb;

$text-blue: #1c62eb;
$text-gray: #a3a3a3;
$text-green: #1db56c;
$text-red: #d24747;
$text-dark: #444647;

// Sizes

$global_font_size: 16px;
